font('Nunito-Regular','Nunito', 400)
font('Nunito-Bold','Nunito', 700)
$font = 'Nunito', sans-serif

//$windowSize = (xl lg md sm)
$windowSize = ("xl" 1280),\
							("lg" 1024),\
							("md" 768),\
							("sm" 480)

//Extends size
$listExtend = (4),\
							(8),\
							(10),\
							(12),\
							(16),\
							(24 16),\
							(32 24),\
							(48 32 24),\
							(64 48 24),\
							(80 64 32),\
							(100 68 36)

//padding percent
$paddingPercent = (10 20 30 50)

//Grid gap size
$gridGap = (4 8 12 16 20 24 32)

$listType = ("xs" 12 10),\
						("sm" 14 12),\
						("main" 16 16),\
						("md" 20 18),\
						("mdx" 24 20),\
						("lg" 32 24),\
						("lgx" 44 32),\
						("xl" 64 44)

//Icon size
$listIcon = ("xs" 12),\
						("sm" 16),\
						("md" 20),\
						("mdx" 24),\
						("lg" 32),\
						("lgx" 44),\
						("xl" 64)

//Border radius
$listBr = (4 8 12 16 20 24 32 44 64)

//Font weight
$listFw = (300 400 500 600 700 900)

//width-max container size
$listWmax = (500 545 640 820 962 1320)

// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111


//MAIN COLORS
$mark = #7ECA1D

$greenDark = #65a217
$greenPrimary = #7ECA1D
$green = #a9d96b
$greenLight = #e6f2d6

$grayPrimary = #565762
$gray = #adaeb9
$grayLight = #c4c5cc

//ADD COlORS

$pink = #ff6889
$pinkLight = #fff3f6

$violet = #6b33b2
$violetLight = #f4eff9

$orange = #ff7b27
$orangeLight = #fff5ee

$blue = #0065bd
$blueLight = #ebf3fa

$sea = #1dd0c7
$seaLight = #edfcfb

$swapm = #768668
$swapmLight = #f4f6f3

$coral = #ff4f4f
$coralLight = #fff0f0

$yellow = #ffa800

//TYPOGRAPHY COLORS

$typePrimary = #5c5e6e
$typeSecondary = #9699a8
$typeDisable = #c8cad4

//UI COLORS

$borderHover = #bfc0c9
$border = $border-color = #dcdfe8
$fieldBackground = #f1f2f6
$overlay = rgba(32, 34, 44, 0.5)

$gradient = linear-gradient(98.95deg, #E3EEFF 0%, #E4F6E4 52.6%, #FFEEE4 100%)

//STATE COLORS

$stateErrorBG = #ffe1e6
$stateError = #d00025

$stateSuccessBG = #edfdd9
$stateSuccess = #5da600

$stateWarningBG = #ffedd8
$stateWarning = #ff8a00

//========================================


$colors = {
	'mark':$mark,
	'greenDark':$greenDark,
	'greenPrimary':$greenPrimary,
	'green':$green,
	'greenLight':$greenLight,
	'grayPrimary':$grayPrimary,
	'gray':$gray,
	'grayLight':$grayLight,
	'pink':$pink,
	'pinkLight':$pinkLight,
	'violet':$violet,
	'violetLight':$violetLight,
	'orange':$orange,
	'orangeLight':$orangeLight,
	'blue':$blue,
	'blueLight':$blueLight,
	'sea':$sea,
	'seaLight':$seaLight,
	'swapm':$swapm,
	'swapmLight':$swapmLight,
	'typePrimary':$typePrimary,
	'typeSecondary':$typeSecondary,
	'typeDisable':$typeDisable,
	'stateErrorBG':$stateErrorBG,
	'stateError':$stateError,
	'stateSuccessBG':$stateSuccessBG,
	'stateWarningBG':$stateWarningBG,
	'stateWarning':$stateWarning,
}

for $colorsName,$colorsVal in $colors
	.bg-{$colorsName}
		background: $colorsVal
	.type-{$colorsName}
		color: $colorsVal
	.icon-{$colorsName}
		fill $colorsVal
el-type(bg,textColor)
	background-color bg
	color textColor
	&:hover,&.active
		background: textColor
		color white

.el--seaLight
	el-type($seaLight,$sea)

.el--blueLight
	el-type($blueLight,$blue)

.el--pinkLight
	el-type($pinkLight,$pink)

.el--violetLight
	el-type($violetLight,$violet)

.el--orangeLight
	el-type($orangeLight,$orange)

.el--swapmLight
	el-type($swapmLight,$swapm)

.el--greenLight
	el-type($greenLight,$green)

.bg-gradient
	background: $gradient

.bg-full
	bg-full()

$main-text-color = black

$link-color = black
$link-color-visited = gray
$link-color-hover = black
