//  ============================ Typography ============================

//webfont('RUB', 'rouble-webfont', 'normal')
//Add fotn rub write .rub a - (a,b,c,d - change type font)

//font(name,file,size)

font('Ubuntu','Ubuntu-Regular',400)
font('Ubuntu','Ubuntu-Medium',500)
font('Ubuntu','Ubuntu-Bold',700)

$v-font = 'Ubuntu', sans-serif

typeSize(fontSm,font)
	+below(768px)
		font-size font px
	font-size fontSm px

.type--sm
	typeSize(12,10)

.type--smx
	typeSize(14,12)

.type--main
	typeSize(16,16)

.type--md
	typeSize(20,18)

.type--mdx
	typeSize(24,20)

.type--lg
	typeSize(32,24)

.type--lgx
	typeSize(44,32)

.type--xl
	typeSize(64,44)

.type--mark
	color $mark

.type--white
	color white

.type--black
	color black

.type--secondary
	color $typeSecondary


.type--head
	color black
	font-weight: 700

.type--bold
	font-weight bold

.type--center
	text-align center

.type--right
	text-align: right

.title
	wbr
		display none
	@extend .mb-48
	font-weight: 700
	color black

.title--sm
	@extend .type--sm
	font-weight: 700
	color black

.title--main
	@extend .type--main
	font-weight: 700
	color black

.title--md
	@extend .type--md
	font-weight: 700
	color black

.title--mdx
	@extend .type--mdx
	font-weight: 700
	color black
	margin-bottom: 20px

.title--lg
	@extend .type--lg
	font-weight: 700
	color black

.title--lgx
	@extend .type--lgx
	font-weight: 700
	color black

.title--xl
	@extend .type--xl
	font-weight: 700
	color black

.title-row
	f()
	fw()
	justify-content space-between
	align-items center
	grid-gap 20px
h5
	@extend .type--md
	color black
	margin: 0
h4
	@extend .type--mdx
	color black
	margin: 0
h3
	@extend .type--lg
	color black
	margin: 0
h2
	@extend .type--lgx
	color black
	margin: 0
h1
	@extend .type--xl
	color black
	margin: 0

a
	color $link-color
	text-decoration: none
	tr()
	&:hover
		color darken($link-color,20)
	&:visiter
		color darken($link-color,30)

p
	@extend .type--main

.link--mark
	color $mark
	cp()
	transition color .4s
	display inline-block
	&:hover
		color $greenDark
	&:visiter
		color $greenDark

.link
	cp()
	transition color .4s
	color $link-color
	&:hover
		color $mark
	&:visiter
		color $mark

.link--text
	color $link-color
	text-decoration underline
	&:hover
		text-decoration none


.text
	color black
	h1,h2,h3,h4,h5
		margin 3.5rem 0 2rem
	h1:first-of-type,
	h2:first-of-type,
	h3:first-of-type,
	h4:first-of-type,
	h5:first-of-type,
	h6:first-of-type,
	p
		margin-top: 0!important
	a:not(.btn--md):not(.btn--sm)
		@extend .link--mark
	img
		@extend .m-64
	p
		line-height: 1.6
		margin-bottom: 30px
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
	ul
		margin-bottom: 30px
		padding-left 26px
		list-style none
		li
			line-height: 1.6
			margin-bottom: 16px
			position relative
			//font-weight: 700
			&:before
				content ''
				position absolute
				size 12px
				round()
				border 2px solid $stateError
				left -26px
				top .5em
			&:last-child
				margin-bottom: 0

// icons
.icon-row
	f()
	align-items center
	span
		width calc(100% - 36px)
.icon-row--extend
	margin-bottom: 32px


.icon
	size 24px

.icon--sm
	size 18px

.icon--md
	size 32px

.icon--lg
	size 48px

.icon--xl
	size 80px

.icon--left
	margin-left: 10px

.icon--right
	margin-right: 10px

.icon--mark
	fill $mark

.icon--gray
	fill $gray

.icon--orange
	fill $orange

.icon--white
	fill white

.db
	display block

// icons === end

