include block_html/_style.pug
include block_html/_include.pug

.page#header
	.header-wrap
		.main-cont
			.header.gap-20
				.logo.f.f-mid
					img(src="img/logo.svg", alt="").sm__hide
					img(src="img/logo-sm.svg", alt="").sm__show
				.f.f-aic.f-gap-24
					.type--md.type--ws.type--bold.header-cost от 6000 руб
					.btn--sm.btn--mark Заказать

	//block header end
	.content.content--clear-top
		.bg-greenLight.p-64.mb-64
			.main-cont
				h1 Чистое питание
		.main-cont
			//.wmax-962.text
			.row.text
				.g-1-9.lg__g-1-12
					h3 Мы — это то, что мы едим, и это правда, не пустой звук.
					.pos-r
						p От того, насколько качественно и разнообразно питание — зависит наше самочувствие, физическое и даже ментальное здоровье. Поэтому крайне важно уделять внимание своему рациону и тем продуктам, которые вы едите.

						p Наш организм работает как система, все в нем взаимосвязано. Пища поступает в желудок, переваривается, расщепляется организмом до белков, жиров и углеводов, а также микро- и макроэлементов. Организм забирает необходимые ему вещества и разносит по всем системам, таким как кровеносная, лимфатическая, эндокринная и т.д., выделяя необходимое количество для обеспечения корректной работы и восстановления.

						p Если жкт (желудочно-кишечный тракт) работает корректно, то витамины и полезные нутриенты усваиваются должным образом преимущественно из пищи и дополнительная поддержка в виде БАДов организму не требуется. К этому состоянию и нужно стремиться.
						.article-note.lg__hide
							p.type--bold Наш организм — система, в которой всё взаимосвязано.
					.pos-r
						img(src="img/article-1.jpg", alt="")
						.article-note.lg__hide
							p.type--bold Рацион современного жителя мегаполиса, как правило состоит из пустых калорий, не несущих в себе пищевой ценности и пользы для организма.
					p Дело в том, что рацион современного жителя мегаполиса, как правило, изобилует низкокачественными продуктами с высокой степенью обработки, фастфудом, выпечкой и чрезмерно сладкими беспорядочными перекусами. Все это — пустые калории, они не несут в себе никакой нутритивной ценности и пользы для организма, и даже напротив — систематичное употребление таких продуктов нарушает работу организма в целом, выводит из строя пищеварение и далее как по цепочке начинает рваться все, что было тонко.

					p Воспаление в желудке и кишечнике — пресловутый гастрит — нарушение всасываемости и вот уже мы насыщаем организм полезной пищей, но она просто не усваивается, не доходит до места назначения.
					.pos-r
						img(src="img/article-2.jpg", alt="")
						.article-note.lg__hide
							p.type--bold Вывести из строя жкт не так уж и сложно, а вот чтобы настроить обратно — уже надо потрудиться

					p Нехватка витаминов и необходимых веществ — это стресс для клеток, а значит нарушение нормального функционирования, а это значит, что новые клетки, которые обновляют и восстанавливают наш организм, рождаются уже неполноценными, тонкая настройка сбивается и один за одним появляются симптомы и болезни, которые значительно ухудшают качество жизни. Ломкие ногти, сухая кожа, выпадение волос — это только первые звоночки, с помощью которых наше тело пытается передать нам сигнал, что пора бы уже поменять образ жизни.

					p Вывести из строя этот тонко настроенный инструмент не так уж и сложно, особенно если употреблять системно вредные продукты и нарушать режим питания. А вот чтобы настроить обратно — уже надо потрудиться.

					.pos-r
						img(src="img/article-3.jpg", alt="")
						.article-note.lg__hide
							p.type--bold Сладкие перекусы опасны и могут привести к диабету

					p Кроме того, беспорядочные перекусы, особенно сладкие, провоцируют резкие скачки инсулина — основного гормона, снижающего уровень сахара в крови. Со временем, организму все сложнее справляться с такими вспышками и такое поведение может привести к серьёзным заболеваниям, таким, как например, диабет.

					h3 Что же делать? Как избежать проблем со здоровьем и наладить своё питание, чтобы получать максимум пользы и энергии?

					p Прежде всего, стоит убрать из своего рациона продукты, которые поддерживают уровень воспаления в теле — это сахар, белая мука, алкоголь, рафинированные продукты, продукты с большим количеством циклов обработки, жареное, низкокачественные продукты, обработанные антибиотиками и имеющими чрезмерно долгий срок хранения.

					p Употреблять такие продукты, если вы хотите сохранить и улучшить своё здоровье — не стоит.

					.pos-r
						img(src="img/article-4.jpg", alt="")
						.article-note.lg__hide
							p.type--bold Нужно следить за своим рационом, ограничивать вредные продукты и заменять их на более полезные и качественные.
					p Еда — это инструмент, с помощью которого мы можем управлять своим здоровьем, повышать уровень энергии и достигать душевного равновесия. Поэтому так важно следить за тем что и как мы едим. Начните с этих простых правил и увидите, как поменяется к лучшему ваша жизнь.
+footer()
include ./block_html/_script.pug
