include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.board__el
		.main-cont
			.board__el-wrap
				.board__content
					.board__title-sub Ваш билет во вкусную и здоровую жизнь
					.board__title Доставка готовых рационов питания без сахара, глютена, трансжиров и консервантов
					.f.gap-20
						a(href="#").btn--md.btn--light.sm__hide Заказать
						a(href="#navMenu").btn--md.btn--text.sm__hide
							.btn-icon-row.btn-icon-row--right
								span Смотреть меню
								+icon("arrow-right","icon icon-right")
				.board__img(style="background-image:url('img/board-1.png')")
	.content
		.sm__show
			.main-cont
				a(href="#").btn--md.btn--mark.btn--mobile.mb-32 Заказать
				a(href="#navMenu").btn--md.btn--light.btn--mobile.mb-16
					.btn-icon-row.btn-icon-row--right
						span Смотреть меню
						+icon("arrow-right","icon icon-right")
		// invite
		.section
			.main-cont
				.invite
					.invite-img
						img(src="img/img-round-1.jpg", alt="")
					.invite-info
						.invite-info-wrap
							.text
								.invite-title Вам это подходит если
								ul.type--md
									li Постоянный срыв режима питания
									li Перекусы сладостями или фастфудом
									li Нехватка времени на готовку полезных блюд
									li Некачественные продукты в супермаркете у дома
									li Непонятный состав блюд в кафе и ресторанах
								p.type--md.type--bold Хотите питаться здоровой и только лучшей едой из отборных, качественных ингредиентов?

								p.type--md Если ваш ответ «да», тогда SimplyFood — идеальное решение для вас.

		// invite === end

		// step work
		.section
			.main-cont
				.work-step
					.work-step__el
						.work-step__el-icon
							+icon("subtract--color","icon")
						.work-step__el-text Чистый вкус фермерских продуктов, все блюда из натуральных ингредиентов, без консервантов, трансжиров и “химии”
					.work-step__el
						.work-step__el-icon
							+icon("chef--color","icon")
						.work-step__el-text Чтобы максимально точно передать вкус натуральных продуктов и сохранить все полезные витамины и минералы, мы готовим путём запекания, томления на пару и су-вид.
					.work-step__el
						.work-step__el-icon
							+icon("unoil--color","icon")
						.work-step__el-text При приготовлении не используем жарку, масло и вредные соусы. Не используем также рафинированные продукты, белую муку, красители и ароматизаторы
					.work-step__el
						.work-step__el-icon
							+icon("bag--color","icon")
						.work-step__el-text Используем цельные, богатые нутриентами продукты
					.work-step__el
						.work-step__el-icon
							+icon("box--color","icon")
						.work-step__el-text Используем биоразлагаемые контейнеры из кукурузного крахмала
					.work-step__el
						.work-step__el-icon
							+icon("food--color","icon")
						.work-step__el-text Ежедневно доставляем рацион, улучшающий ваше здоровье
		// step work === end

		// invite
		.section
			.main-cont
				.invite
					.invite-img
						.invite-msg.paralax-el(data-depth="10")
							img(src="img/cutlery.svg", alt="")
							span Вот так выглядит наш набор готового питания на сутки
						img(src="img/img-round-3.jpg", alt="")
					.invite-info
						.invite-info-wrap
							.invite-title С заботой об экологии
							.invite-text.text
								p.type--md Наша посуда не содержит вредных и токсичных веществ, негативно влияющих на здоровье человека и полностью разлагается в почве, не нанося вред окружающей среде – 100% eco-friendy.

								p.type--md Приборы положим в комплект только по вашему запросу при заказе.
							a(href="#").btn--md.btn--mark.invite-info__btn Заказать питание
		// invite === end

		// construct
		.section#navMenu
			.main-cont
				.title.title--lgx Примерное меню на день по программе <br> Рациональное питание
			// choose program
			.main-cont
				.g-row.js-tab-wrap
					.g-xs-12.g-lg-12.g-xl-2
						.roll-date.js-tick-cont
							.roll-date__el.active.js-tick.js-tab 8 марта / Понедельник
							.roll-date__el.js-tick.js-tab 9 марта / Вторник
							.roll-date__el.js-tick.js-tab 10 марта / Среда
							.roll-date__el.js-tick.js-tab 11 марта / Четверг
							.roll-date__el.js-tick.js-tab 12 марта / Пятница
							.roll-date__el.js-tick.js-tab 13 марта / Суббота
							.roll-date__el.js-tick.js-tab 14 марта / Воскресенье
					.g-xs-12.g-lg-12.g-xl-10.js-tab-cont.active.roll
						.g-row
							.roll-content.g-xs-12.g-lg-8.g-xl-8
								.roll-kkal 1300 ккал
								- for (var i=0;i<3;i++)
									.roll-el
										.type--secondary.mb-12 Завтрак / 356 ккал
										.type--md Пшёная каша с яблочным пюре и семенами чиа
									.roll-el
										.type--secondary.mb-12 Полдник / 202 ккал
										.type--md Чиа пудинг на кокосовом молоке с манго
							.program-banner.g-lg-4.g-xl-4
								.program-banner-inner
									img(src="img/chef.svg", alt="").program-banner__img
									.program-banner__cost 180
									.program-banner__text руб/день
									a(href="#" class= program ? "mb-24" : '').btn--md.btn--mark Заказать
							.program-banner.program-banner--mobile
								.program-banner-inner
									img(src="img/chef.svg", alt="").program-banner__img
									.program-banner__cost 180
									.program-banner__text руб/день
									a(href="#").btn--md.btn--mark Заказать
					.roll.g-xs-12.g-lg-12.g-xl-10.js-tab-cont
						.g-row
							.roll-content.g-xs-12.g-lg-8.g-xl-8
								.roll-kkal 2300 ккал
								- for (var i=0;i<3;i++)
									.roll-el
										.type--secondary.mb-12 Обед / 356 ккал
										.type--md Пшёная каша с яблочным пюре и семенами чиа
									.roll-el
										.type--secondary.mb-12 Полдник / 202 ккал
										.type--md Чиа пудинг на кокосовом молоке с манго
							.program-banner.g-lg-4.g-xl-4
								.program-banner-inner
									img(src="img/chef.svg", alt="").program-banner__img
									.program-banner__cost 280
									.program-banner__text руб/день
									a(href="#" class= program ? "mb-24" : '').btn--md.btn--mark Заказать

							.program-banner.program-banner--mobile
								.program-banner-inner
									img(src="img/chef.svg", alt="").program-banner__img
									.program-banner__cost 280
									.program-banner__text руб/день
									a(href="#").btn--md.btn--mark Заказать
		// construct === end


		// structure
		.section-sm
			.main-cont
				.structure
					.structure__el
						img(src="img/wheat.svg", alt="")
						span Без глютена
					.structure__el
						img(src="img/genetically.svg", alt="")
						span Без ГМО
					.structure__el
						img(src="img/plant.svg", alt="")
						span 100% органик
		// structure === end

		// step work
		.section#navWork
			.main-cont
				.title.title--lgx Как это работает
				.work-step
					.work-step__el
						.work-step__el-icon
							+icon("step-1--color","icon")
						.work-step__el-title Оставляете заявку
						.work-step__el-text Закажите питание на сайте или по телефону. Укажите день начала программы и сообщите нам, если хотите изменить состав меню.
					.work-step__el
						.work-step__el-icon
							+icon("step-2--color","icon")
						.work-step__el-title Получаете заказ
						.work-step__el-text Каждое утро, сразу же после приготовления наш курьер доставляет блюда к вам. После получения храните их в холодильнике.
					.work-step__el
						.work-step__el-icon
							+icon("step-3--color","icon")
						.work-step__el-title Питаетесь вкусно и полезно
						.work-step__el-text Каждый день получаете от еды максимум пользы. Перед приёмом пищи вам нужно всего лишь разогреть её.
		// step work === end

		// subscription
		.main-cont#navTest
			.invite-subs
				.invite-subs-img
					img(src="img/img-round-2.jpg", alt="")
				.invite-subs-info
					.invite-subs-title Сомневаетесь?
					.invite-subs-text Закажите пробный дневной набор питания состоящий из 5 блюд всего за 999 рублей
					.input-btn-cont
						.input-row.input-row--validate
							input(type="text" data-placeholder="Телефон" class="input input-mask--phone")
							.input-msg Введённые данные не должны содержать цифры
							+icon("close","icon icon-validate-false")
							+icon("checked","icon icon-validate-true")
						.btn--md.btn--mark Заказать
		// subscription === end

		// review
		.section-extend.section--gradient
			.main-cont.js-slider-wrap
				.review-head
					.review-head__info#navReview
						.type--head.type--lgx.mb-16 Отзывы клиентов
						.review-head__text Отзывы реальных клиентов о доставке правильного питания на неделю, вкусе самой еды, ее качестве и сервисе компании SimplyFood.
					.review-control.slider-control-row
						.slider-control.js-control-left
							+icon("arrow-left","icon")
						.slider-control.js-control-right
							+icon("arrow-right","icon")
				.review
					.slider-wrap
						.slider-review.slider-extend.js-slider
							- for (var j=1;j<5;j++)
								- for (var i=1;i<5;i++)
									.slider-el-wrap
										.slider-review__el
											.slider-review-head
												.slider-review-head__user(style="background-image:url('img/user.jpg')")
												.slider-review-head__info
													.type--head mike_beyond_the_sea
													.type--sm Moskow
											.slider-review-img(style="background-image:url('img/inst-img-" + i + ".jpg')")
											.slider-review-wrap
												.slider-review-content.scroll-template-light
													.slider-review-text Мы то - что мы едим.Пожалуй, лучшее мое решение за последнее время - это отказ от вредной пищи, сладкого, мучного и бокальчика вина за ужином. (да, черт подери, сама не верю в это, но Алкоголь тоже попал под санкционку в моей жизни)И знаете, это было решение за последнее время  - это отказ от мучного и бокальчика вина за ужином. (да, черт подери, сама не верю в это, но Алкоголь тоже попал под санкционку в моей жизни)И знаете, это было решение за последнее время  - это отказ от
		// review === end

		// FAQ
		.section
			.main-cont.js-tab-wrap
				.title.title--lgx#navFAQ Часто задаваемые вопросы
				.faq-wrap
				-
					var items = [
						{
							"list": [
								'1. Как понять что и когда есть?',
								'2. Как часто употреблять рационы?',
								'3. Кто занимается составлением меню?',
								'4. Как часто обновляется меню?',
								'5. Могу ли я заменить или исключить блюдо?'
							]
						}

					];
				each item,i in items
					.accordion.js-accordion.js-tab-cont(class=i === 0 ? 'active' : '')
						each itemList in item.list
							.accordion__el.js-accordion-el
								.accordion__el-head.js-accordion-head
									.accordion__el-head-text #{itemList}
									.accordion__el-head-icon
								.accordion__el-content.text.js-accordion-content
									p Платежный план «переезд в готовый дом» - дает возможность будущему покупателю переехать из квартиры в загородный дом без полной оплаты за домовладение! Для быстрого переезда в готовый загородный дом достаточно внести 10% от стоимости коттеджа и Вы можете заселяться!
									p На продажу имеющейся в собственности у покупателя квартиры предоставляется рассрочка четыре месяца. По факту реализации квартиры оплачивается остаточная стоимость за домовладение.
		// FAQ === end

		// deliver
		.main-cont.js-tab-wrap
			.deliver-wrap
				.deliver-info
					.title.title--lgx#navDelivery Доставка
					.deliver-info__text.text Мы осуществляем доставку регулярно (ежедневно или раз в два дня). Каждое утро или вечер — выбор за Вами
					.deliver-pick
						.deliver-pick__el
							.deliver-pick__el-color(style="background:#7eca1d")
							.deliver-pick__el-text Доставляем бесплатно
						.deliver-pick__el
							.deliver-pick__el-color(style="background:#6b33b3")
							.deliver-pick__el-text Доставка стоит 250 р.
				.deliver-map.map-wrap
					.map
						//put code map her

		// deliver === end
	+footer()


include ./block_html/_script.pug
