include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content.content--mark.content--mobile-clear
		.main-cont-sm.main-cont--mobile-clear
			.contract.contract--fluid
				.contract-content
					.title.title--xl Оформление заказа
					.input-cont.input-cont--two
						.input-row.input-row--validate.input-row--error
							input(type="text" data-placeholder="Имя и фамилия" class="input")
							.input-msg В данных ошибка
							+icon("close","icon icon-validate-false")
							+icon("checked","icon icon-validate-true")
						.input-row.input-row--validate
							input(type="text" data-placeholder="Email (необязательно)" class="input")
							.input-msg Ошибок нет
							+icon("close","icon icon-validate-false")
							+icon("checked","icon icon-validate-true")
					.input-cont
						.input-row
							label.check-el.js-switch(data-item="isFriend")
								.style-label.style-label--checkbox
									input(type="checkbox" ).style-input
									.style-input-element
										+icon("checked","icon")
									.style-input-text SimplyFood мне рекомендовал друг
					.input-cont.hidden.js-switch-cont(data-item="isFriend")
						.input-cont
							.input-row.input-row--validate
								input(type="text" data-placeholder="Телефон друга" class="input" data-mask="8(000)000-00-00")
								.input-msg В данных ошибка
								+icon("close","icon icon-validate-false")
								+icon("checked","icon icon-validate-true")

					.type--lg.type--head.mb-32 Период доставки
					.config.js-config.js-switch-wrap
						.contract-config-wrap.js-contract-config-wrap
							.contract-config
								.contract-config__el.js-contract-el.js-switch(data-item="start")
									+radio('Пробный день',"list")
								.contract-config__el.active.js-contract-el.js-switch(data-item="6days")
									+radio('Неделя (6 дней)',"list","true")
								.contract-config__el.js-contract-el.js-switch(data-item="2week")
									+radio('2 недели (12 дней)',"list")
									.contract-config__el-val -5%
								.contract-config__el.js-contract-el.js-switch(data-item="4week")
									+radio('4 недели (24 дня)',"list")
									.contract-config__el-val -7.5%
								.contract-config__el.js-contract-el.js-switch(data-item="3month")
									+radio('3 месяца  (72 дня)',"list")
									.contract-config__el-val -15%

					.input-cont.input-cont--list.mb-48
						+checkbox('Сдавать лотки в переработку')
						+checkbox('Нужны приборы')

					.type--lg.type--head.mb-32 Доставка

					.input-cont
						.input-row
							input(type="text" data-placeholder="Адрес" class="input")
					.input-cont.input-cont--three.mb-32
						.input-row
							.dropdown
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-title Начало
									.dropdown-current__val 24 сентября
									+icon("arrow-down","icon")
								.dropdown-menu
									- for (var i=0;i<6;i++)
										.dropdown-menu__el(data-value="1") 25 сентября
										.dropdown-menu__el(data-value="2") 26 сентября
										.dropdown-menu__el(data-value="3") 27 сентября
						.input-row
							.dropdown
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-title Время
									.dropdown-current__val 10:00 - 11:00
									+icon("arrow-down","icon")
								.dropdown-menu
									- for (var i=0;i<6;i++)
									.dropdown-menu__el(data-value="1") 11:00 - 12:00
									.dropdown-menu__el(data-value="2") 13:00 - 14:00
									.dropdown-menu__el(data-value="2") 14:00 - 15:00
									.dropdown-menu__el(data-value="3") 16:00 - 17:00
						.input-row
							.dropdown
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-title Периодичность
									.dropdown-current__val Ежедневно
									+icon("arrow-down","icon")
								.dropdown-menu
									.dropdown-menu__el(data-value="1") Ежедневно
									.dropdown-menu__el(data-value="2") Через день

					.type--lg.type--head.mb-24 Оплата
					.tab.mb-24.js-tick-cont
						.tab__el.js-tick.active Наличными
						.tab__el.js-tick Картой
						.tab__el.js-tick Apple Pay

					.contract-total-wrap.mb-32
						.contract-total
							.contract-total__name Итого
							.type--head.type--mdx 6300 руб



					.input-cont
						.input-row
							label.check-el.js-switch(data-item="isComment")
								.style-label.style-label--checkbox
									input(type="checkbox" ).style-input
									.style-input-element
										+icon("checked","icon")
									.style-input-text Добавить комментарий к заказу

					.input-cont.hidden.js-switch-cont(data-item="isComment")
						.input-cont
							.input-row
								textarea(name="text", cols="30", rows="4" class="input" data-placeholder="Комментарий")

				.contract-footer
					.contract-footer__text Нажимая кнопку “Оформить” я принимаю условия условия <a href="#" class="link--mark">передачи информации</a>
					.btn--md.btn--mark.btn--mobile Оформить

	+footer()
include ./block_html/_script.pug
